# Variáveiss e tipos

##  Teoria

Variaveis são respondáveis por guaradr valores de um programa como armazenar nome, endereço, idade 

- Ás varieveis podem ter diversos tipos como string, number...;

- Ás variaveis esstá prestesente em diversos produtos;

Exemplo:

In [2]:
idade = 18
nome = "Maria"
print (idade)
print (nome)

18
Maria

Toda varievel tem um valor e um tipo 

Valor = É um valor atribuído a variável como número ou texto
tipo = Estrutura da informação e a forma de classificamos os dados 
- A clasisficação permite criar funções;
- podemos criar tipos;

Os tipos que existem:
- Escalares (Um único valor)
  int = Número inteiro positivo ou negativo
  float - Numero decimal positivo ou negativo;
  string = valores em texto ou tudo quee está entre aspas '' ""
  bool = True ou false ou pode usar números inteiros 

- Varieveis complexas (Váarios valores)
  list = Conjuntos de valores dentro de [floot, bool, string];
  tuple = Conjuntos de valores que não poddem ser alterados (123);
  set = São conjuntos {} - Validação de dados;
  dict = Caahve valor - Número seguido de valores
  range = Intervalo de valores 
  
  Para ver o tipo da varivel usando
  type (insira o nome da variável)

  Na engenharia de dados é importante validar dados

É importante dá nomes claros a variável = Descritiva


Usar sempre palavras minusculas

Nomes que não são aceitos:

Não aceita variável que começa com números 
  Ex: 1numero = 123

Não aceita cactere especial
  Ex: email0 = 'joaovitordemelogomes@gmail.com'

Não aceita variável com nomes reservados
  Ex: class = "a"

Palavras reservas são palavras que a linguagem usa como função quue são mais mais 20 palavras reservadas

# práatica de varáveis e tipos

## Variáveis e tipos

In [4]:
idade2 = 20
type (idade) # int = Número inteiro

int

In [6]:
nome2 = 'joão'
type ('nome2') # str = texto

str

In [7]:
salario = 1000.2
type ('salario')

str

## Declaração múltipla

In [9]:
aluno1, aluno2, aluno3 = "Maria", "joão", "Roberto"
print(aluno1, aluno2, aluno3)

Maria joão Roberto

Note que para funcionar precisa ter a mesma quantidade de valores e variaveis

## Nomes da variáveis

Todo nome de variável precisa ser descritiva e explicita

In [ ]:
idade3 = 30

## Nomes proibidos

In [11]:
idade4 = 50 
# Vai funcionar
print (idade4)

50

In [12]:
5idade = 89
# Não vai funcionar
print (5idadde)

SyntaxError: invalid decimal literal (2612072271.py, line 1)

## Palavras reservadas

Ele descarta ás palavras reservadas

In [ ]:
class = 58
# por exemplo

## Convertendo tipos

In [14]:
idade6 = "10"
idade7 = "38"

int (idade6) +int (idade7)

48